<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Learning key tests">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Test example suite file">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression" />
            </run>
        </groups>

        <classes>

            <class name="io.ndenic.apitesting.tests.AuthTests">
            </class>

        </classes>
    </test>
</suite>
